.listing:hover .peek{
    display: block
}

.peek {
    // display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.listing {
    position: relative;
    // display: inline-block;
}
