.btn-default {
    background-color: #FFD481;
    border-radius: 4px;
    border: none;
    width: 75px;
    height: 40px;
    float: right;
    align: center;
    margin-top: 16px;
}

.btn-default:hover {
    background-color: #FFD481;
}
