<!--<div>-->
    <!--<div id=flight_code>{{flight.code}}</div>-->
    <!--<div id=departure></div>-->
    <!--<div id=arrival></div>-->
        <!--{% if current_user not in flight.users %}-->
            <!--<a style="color: inherit;" href="{{ url_for('main.join', trip_id=trip.id, resource_type='flight', resource_id=flight.id, action='add') }}">-->
                <!--<button type="button" class="btn btn-primary">-->
                    <!--Join this flight now!-->
                <!--</button>-->
            <!--</a>-->
        <!--{% else %}-->
        <!--&lt;!&ndash;TODO: if there are no more users, surface a delete button&ndash;&gt;-->
            <!--<a style="color: inherit;" href="{{ url_for('main.join', trip_id=trip.id, resource_type='flight', resource_id=flight.id, action='delete') }}">-->
                <!--<button style="" type="button" class="btn btn-secondary">-->
                    <!--Remove me from this flight-->
                <!--</button>-->
            <!--</a>-->
            <!--<a style="color: inherit;" href="{{ url_for('main.flight_view', trip_id=trip.id, flight_id=flight.id) }}">-->
                <!--<button style="" type="button" class="btn btn-secondary">-->
                    <!--Edit flight-->
                <!--</button>-->
            <!--</a>-->
        <!--{% endif %}-->

<!--</div>-->
<div style="display: flex; flex-direction: column; justify-content: space-between; height: inherit;">
    <div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                <img src="{{ url_for('static',filename='images/plane.png') }}">
            </div>
        </div>

        <div style="font-size: 26px; font-weight: 600; padding-top: 20px;">
            {{flight.code}}
        </div>
        <div style="padding-left: 10px;">
            <div id=departure></div>
            <div id=arrival></div>
            <div style="padding-top: 40px;">
                <!--TODO: if i am the only one on the flight have a special treatment-->
                <div style="font-size: 12px;">Who's going?</div>
                <div style="padding-left: 5px; font-size: 16px;">
                    {% for u in flight.users %}
                        <div>
                            {{ u.full_name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 10px;">
        {% if current_user not in flight.users %}
            <a style="color: inherit; float: right;" href="{{ url_for('main.join', trip_id=trip.id, resource_type='flight', resource_id=flight.id, action='add') }}">
                <button type="button" style="background: #FFD481; border-radius: 4px; border: none; width: 100px; height: 50px;">
                    Join
                </button>
            </a>
        {% else %}
             <a style="color: inherit;" href="{{ url_for('main.join', trip_id=trip.id, resource_type='flight', resource_id=flight.id, action='delete') }}">
                <button style="" type="button" class="btn btn-secondary">
                    Remove me
                </button>
            </a>
        {% endif %}
    </div>
</div>
