{% extends "trip.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block trip_content %}
    <div style="display: flex; flex-direction: column; justify-content: flex-start; width: 100%">
        <div style="border: 1px solid #337ab7; border-radius: 4px; margin: 30px; height: 150px; width: 550px; padding: 5px">
            {{ wtf.quick_form(form) }}
        </div>
        <div>
            {% for post in posts %}
                <div style="border: 1px solid #337ab7; border-radius: 4px; margin: 30px; height: 150px; width: 550px; padding: 5px">
                    <div>{{ post.user.full_name }}</div>
                    <div style="padding-left: 50px; padding-top: 30px;">{{ post.body }}</div>
                    <a style="color: inherit; float: right" href="{{ url_for('main.comments_view', trip_id=trip.id, post_id=post.id) }}">
                        <button type="button" style="background: #FFD481; border-radius: 4px; border: none; width: 120px; height: 40px;">
                            {{ post.comments|length }} Comments
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
