<div>
    <div id=stay_name>{{stay.name}}</div>
    <div id=formatted_address>{{res.formatted_address}}</div>
    {% if 'international_phone_number' in res %}
        <div id=international_phone_number>{{res.international_phone_number}}</div>
    {% endif %}
    {% if 'website' in res %}
        <a href="{{res.website}}" target="_blank" rel="noopener noreferrer">Website Link</a>
    {% endif %}
    <div id=check_in></div>
    <div id=check_out></div>
    {% if current_user not in stay.users %}
        <a style="color: inherit;" href="{{ url_for('main.join', trip_id=trip.id, resource_type='stay', resource_id=stay.id, action='add') }}">
            <button type="button" class="btn btn-primary">
                Join this hotel now!
            </button>
        </a>
    {% else %}
    <!--TODO: if there are no more users, surface a delete button-->
    <a style="color: inherit;" href="{{ url_for('main.join', trip_id=trip.id, resource_type='stay', resource_id=stay.id, action='delete') }}">
        <button style="" type="button" class="btn btn-secondary">
            Remove me from this hotel
        </button>
    </a>
    {% endif %}
    <div>
        <!--TODO: if i am the only one on the flight have a special treatment-->
        Travelers staying at this hotel:
        {% for u in stay.users %}
            <div>
                {{ u.full_name }}
            </div>
        {% endfor %}
    </div>
</div>
