{% extends "trip.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block trip_content %}
    <div style="display: flex; flex-direction: row;">
        <div style="padding-left: 40px; padding-top: 60px;">
            <h3>Edit your supplies</h3>
            {{ wtf.quick_form(form) }}
            <div style="padding-top: 15px;">
                {% if not supply.is_done %}
                    <a href="{{ url_for('main.complete_supplies', trip_id=trip.id, supply_id=supply.id) }}"><button class="btn btn-primary">Mark Complete</button></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
     <script type="text/javascript">
        document.getElementById("trip_id").style.justifyContent = "flex-start";
    </script>
{% endblock %}
