{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
        <div style="border: 1px solid black; display: flex; flex-direction: column; height: 300px;">
            <div style="font-weight: 800; font-size: 26px">{{ trip.title }}</div>
            <div>{{ trip.travelers|length}} travelers</div>
            <div style="padding-top: 40px; display: flex; flex-direction: column;">
                <a href="{{ url_for('main.trip_view', id=trip.id) }}" style="color: inherit; padding: 10px;">
                    <button type="button" class="btn btn-outline-primary" style="width: 90px;">Itinerary</button>
                </a>
                <a href="{{ url_for('main.supplies_view', id=trip.id) }}" style="color: inherit; padding: 10px;">
                    <button type="button" class="btn btn-outline-primary" style="width: 90px;">Supplies</button>
                </a>
                <a href="{{ url_for('main.travelers_view', id=trip.id) }}" style="color: inherit; padding: 10px;">
                    <button type="button" class="btn btn-outline-primary" style="width: 90px;">Travelers</button>
                </a>
            </div>
        </div>
        <div style="border: 1px solid black; padding-top: 100px; padding-left: 60px; padding-right: 60px;">
            {% for traveler in travelers %}
                <div style="padding-bottom: 20px;">
                    <div>
                        {{ traveler.first_name }} {{ traveler.last_name}}
                    </div>
                    <div>
                        {{ traveler.email }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="border: 1px solid black; padding-top: 100px; padding-left: 60px; padding-right: 60px;">
            <div>
                Share your trip link: <input type="text" id="trip_link_id" value="{{ trip_url }}" readonly style="border: none; width: 200px"/>
            </div>
            <div>
                <button type="button" class="btn btn-primary" onclick="copy_to_clipboard()">Copy Share Link</button>
            </div>
            <div style="padding-top: 30px;">
                <a href="mailto:abc@example.com?subject=Join my trip!&body=Go to this link to join my trip! {{ trip_url }}" target="_blank" rel="noopener noreferrer" style="color: inherit;">
                    <button type="button" class="btn btn-primary">Email and share your trip</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
