{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="border: 1px solid black; display: flex; flex-direction: column; height: 300px;">
            <div style="font-weight: 800; font-size: 26px">{{ trip.title }}</div>
            <div>{{ trip.travelers|length}} travelers</div>
            <div style="padding-top: 40px;">
                <a href="{{ url_for('main.trip_view', id=trip.id) }}" style="color: inherit;">
                    <div>Home</div>
                </a>
                <div>Itinerary</div>
                <a href="{{ url_for('main.travelers_view', id=trip.id) }}" style="color: inherit;">
                    <div>Travelers</div>
                </a>
            </div>
        </div>
        <div style="border: 1px solid black; display: flex; flex-direction: column; justify-content: center; align-items:center; padding-top: 100px; width: 400px;">
            <div style="text-align: center">Recent Activity</div>
            {% for activity in recent_activity %}
                {% include '_activity.html' %}
            {% endfor %}
        </div>
        <div style="border: 1px solid black; display: flex; flex-direction: column; justify-content: space-between; padding-top: 100px; width: 400px; height: 400px; padding-bottom: 30px;">
            <div style="text-align: center">Book Now</div>
            <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 40px; cursor: pointer;">
                <div onclick="show_flight_form()">
                    Flights
                </div>
                <div style="padding-right: 14px"></div>
                <div onclick="show_hotel_form()">
                    Hotels
                </div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 20px;">
                <div class="col-md-4" id="flight_form">
                    {{ wtf.quick_form(flight_form) }}
                </div>
                <div class="col-md-4" id="hotel_form" style="display: none">
                    {{ wtf.quick_form(stay_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
